<% title = 'Index - Message Board'; %>

<h1>Index</h1>
<% if (locals.currentUser) {%>
<h2>You are logged in as: <%= currentUser.username %></h2>
<a href="/sendMessage">Send Message</a>
<a href="/logout">Logout</a>
<% } else { %>
<h2>You are not logged in</h2>
<a href="/login">Login</a>
<a href="/register">Register</a>
<% } %> <% messages.forEach(message => { console.log(message)%>
<div>
  <h2><%= message.title %></h2>
  <% if (locals.currentUser) {%>
  <div><%= message.author_id %> <%= message.timestamp %></div>
  <% } %>
  <p><%= message.text %></p>
  <% if (locals.currentUser && locals.currentUser.membership_status === 'admin')
  {%>
  <form
    action="/deleteMessage/<%= message.message_id %>"
    method="POST"
    onsubmit="return confirmDelete()"
  >
    <button type="submit">Delete message</button>
  </form>
  <% } %>
</div>
<%})%>

<script>
  function confirmDelete() {
    return confirm("Are you sure you want to delete this message?");
  }
</script>
